<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <h2>Audiophyle</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login">LOGIN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">LOGOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">CREATE AN ACCOUNT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-music"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/members">Library</a>
            <a class="dropdown-item" href="/members">Wishlist</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/members">Suggested artists</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="searchArtist">
        <input class="form-control mr-sm-2" id="artistInput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="homepageDiv m-4">
    <div class="row">
      <div class="col-sm-4 boxColor">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Recent Searches</strong></h5>
            <p class="card-text">
            <ul>
              <li>Recent search 1</li>
              <li>Recent search 2</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 boxColor">
        <div class="card">
          <div class="card-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="overlay-image" style="background-image:url(assets/daftpunk.jpg);"></div>
                  <div class="carousel-item-text">
                    <h1>Daft Punk</h1>
                    <p> asldkfj a lsdfj alskdfj alsdfj afhfqwerogirgn qoweh ugdfg qorhr oi odfh qowiefqo ehf qw f
                      hqweoif qwoefh dhfa sdhf qhwefhq eoh hfhqihtgrgnifvqutiuhg ikfdkngakj </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="overlay-image" style="background-image:url(assets/currents.jpg);"></div>
                  <div class="carousel-item-text">
                    <h1>Tame Impala</h1>
                    <p> asldkfj a lsdfj alskdfj alsdfj afhfqwerogirgn qoweh ugdfg qorhr oi odfh qowiefqo ehf qw f
                      hqweoif qwoefh dhfa sdhf qhwefhq eoh hfhqihtgrgnifvqutiuhg ikfdkngakj </p>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="overlay-image" style="background-image:url(assets/igor.jpg);"></div>
                  <div class="carousel-item-text">
                    <h1>Tyler The Creator</h1>
                    <p> asldkfj a lsdfj alskdfj alsdfj afhfqwerogirgn qoweh ugdfg qorhr oi odfh qowiefqo ehf qw f
                      hqweoif qwoefh dhfa sdhf qhwefhq eoh hfhqihtgrgnifvqutiuhg ikfdkngakj </p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4 boxColor">
      <div class="card-body">
        <h5 style="color:white;"><strong>Genre Playlists</strong></h5>
        <div class="card-columns">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rock</h5>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Rap</h5>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Country</h5>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Folk</h5>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Electronic</h5>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Pop</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>