<div class="memberpageDiv m-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Recent Searches</strong></h5>
                    <p class="card-text">
                    <ul>
                        {{artist}}
                        artist goes here
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Song / Artist Info</strong></h5>
                    <p class="card-text">
                    <h6>If a song is searched, return the following</h6>
                    <ul>
                        <li>Song Title</li>
                        <li>Artist</li>
                        <li>Album</li>
                        <li>Genre</li>
                    </ul>
                    <h6>If an artist is searched, returned the following</h6>
                    <ul>
                        <li>{{artist}}</li>
                        <li>Top Albums</li>
                        <li>Genre</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Music Video</strong></h5>
                    <p class="card-text">
                    <h6>Music Video for song searched or top song from the album searched goes here</h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong>Connect with the Band</strong></h5>
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Spotify</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Facebook</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">YouTube</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong><a href="/signup" style="font-size: 25px;">Become a member </a>and be the
                    first to</strong></h5>
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Save an Artist's New Song</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Find Band Merch</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Get the Latest Concert Info</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>