<div class="memberpageDiv m-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Recent Searches</strong></h5>
                    <p class="card-text">
                    <ul>
                        artist goes here
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Artist Info</strong></h5>
                    <p class="card-text">
                    <ul>
                        <li id="strArist">Coldplay</li>
                        <li id="strGenre">Alternative Rock</li>
                        <li id="strMood">Happy</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Artist Bio</strong></h5>
                    <p class="card-text">
                    <h6><li>Artist Bio: "Coldplay are a British alternative rock band formed in 1996 by lead vocalist Chris Martin and lead guitarist Jonny Buckland at University College London. After they formed Pectoralz, Guy Berryman joined the group as a bassist and they changed their name to Starfish. Will Champion joined as a drummer, backing vocalist, and multi-instrumentalist, completing the line-up. Manager Phil Harvey is often considered an unofficial fifth member. The band renamed themselves "Coldplay" in 1998, before recording and releasing three EPs; Safety in 1998, Brothers & Sisters as a single in 1999 and The Blue Room in the same year. The latter was their first release on a major label, after signing to Parlophone. They achieved worldwide fame with the release of the single "Yellow" in 2000, followed by their debut album released in the same year, Parachutes, which was nominated for the Mercury Prize. The band's second album, A Rush of Blood to the Head (2002), was released to critical acclaim and won multiple awards, including NME's Album of the Year, and has been widely considered the best of the Nelson-produced Coldplay albums. Their next release, X&Y, the best-selling album worldwide in 2005, was met with mostly positive reviews upon its release, though some critics felt that it was inferior to its predecessor. The band's fourth studio album, Viva la Vida or Death and All His Friends (2008), was produced by Brian Eno and released again to largely favourable reviews, earning several Grammy nominations and wins at the 51st Grammy Awards. On 24 October 2011, they released their fifth studio album, Mylo Xyloto, which was met with mixed to positive reviews, and was the UK's best-selling rock album of 2011. The band has won a number of music awards throughout their career, including seven Brit Awards winning Best British Group three times, four MTV Video Music Awards, and seven Grammy Awards from twenty nominations. As one of the world's best-selling music artists, Coldplay have sold over 55 million records worldwide. In December 2009, Rolling Stone readers voted the group the fourth best artist of the 2000s. Coldplay have been an active supporter of various social and political causes, such as Oxfam's Make Trade Fair campaign and Amnesty International. The group have also performed at various charity projects such as Band Aid 20, Live 8, Sound Relief, Hope for Haiti Now: A Global Benefit for Earthquake Relief, The Secret Policeman's Ball, and the Teenage Cancer Trust."</li></h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong>Connect with the Band</strong></h5>
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Spotify</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><a href="" target="_blank" id="strFacebook" style="font-size: 19px;">Facebook</h5></a>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><a href="" target="_blank" id="artistWebsite" style="font-size: 19px;">Artist Website</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong><a href="/signup" style="font-size: 25px;">Become a member </a>and be the
                    first to</strong></h5>
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Save an Artist's New Song</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Find Band Merch</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Get the Latest Concert Info</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>