<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/"><h2>Audiophyle</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">LOGIN<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">CREATE AN ACCOUNT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-music"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/members">Library</a>
                        <a class="dropdown-item" href="/members">Wishlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/members">Suggested artists</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="searchArtist">
                <input class="form-control mr-sm-2" id="artistInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="memberpageDiv m-4">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Recent Searches</strong></h5>
                        <p class="card-text">
                        <ul>
                            <li>Recent search 1</li>
                            <li>Recent search 2</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Song / Artist Info</strong></h5>
                        <p class="card-text">
                        <h6>If a song is searched, return the following</h6>
                        <ul>
                            <li>Song Title</li>
                            <li>Artist</li>
                            <li>Album</li>
                            <li>Genre</li>
                        </ul>
                        <h6>If an artist is searched, returned the following</h6>
                        <ul>
                            <li>{{artist}}</li>
                            <li>Top Albums</li>
                            <li>Genre</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Music Video</strong></h5>
                        <p class="card-text">
                        <h6>Music Video for song searched or top song from the album searched goes here</h6>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 boxColor">
            <div class="card-body">
                <h5 style="color:white;"><strong>Connect with the Band</strong></h5>
                <div class="card-columns">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Spotify</h5>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Facebook</h5>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">YouTube</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 boxColor">
            <div class="card-body">
                <h5 style="color:white;"><strong><a href="/signup" style="font-size: 25px;">Become a member </a>and be the first to</strong></h5>
                <div class="card-columns">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Save an Artist's New Song</h5>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Find Band Merch</h5>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Get the Latest Concert Info</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>