<div class="memberpageDiv m-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card boxColor">
                <div class="card-body">
                    <p class="card-text">
                        <img src="" alt="..loading.." style="color:white;" id="strArtistThumb">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card boxColor">
                <div class="card-body">
                    <h5 class="card-title" style="color:white;"><strong>Artist Info</strong></h5>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            <ul>
                                <li id="strArtist">Loading..</li>
                                <li id="strGenre">Loading..</li>
                                <li id="strMood">Loading..</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card boxColor">
                <div class="card-body">
                    <h5 class="card-title" id="topText" style="color:white;"><strong>Loading..</strong></h5>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            <h6>
                                <ol id="topSongs">
                                </ol>
                            </h6>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;" style="font-size: 25px;"><strong>Artist Description</strong></h5>
            <div class="card">
                <div class="card-body" id="strBiographyEN">
                    <p>Loading..
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong>Connect with the Band</strong></h5>
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">

                        <h5 class="card-title"><a href="" target="_blank" id="strLastFMChart"
                                style="font-size: 20px;">Loading..</h5></a>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><a href="" target="_blank" id="strFacebook"
                                style="font-size: 20px;">Loading..</h5></a>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><a href="" target="_blank" id="artistWebsite"
                                style="font-size: 20px;">Loading..</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong>Like this artist? Save them to your page!</strong></h5>
            <div class="row" class="songSearchBtns">
                <div class="col-sm-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <button type="button" id="artistSaveBtn" class="btn btn-lg btn-block">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>