<div class="memberpageDiv m-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <img src="./assets/blankspace_thumbnail.jpg" id="strTrackThumb">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="strTrack"><strong>Blank Space</strong></h5>
                    <p class="card-text">
                    <ul>
                        <li id="strArtist">Artist: Taylor Swift</li>
                        <li id="strAlbum">Album: 1989</li>
                        <li id="strGenre">Genre: Country</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <iframe width="500" height="250" id="strMusicVid" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;" style="font-size: 25px;"><strong>Song Description</strong></h5>
            <div class="card">
                <div class="card-body" id="strDescriptionEN">
                    <p>"Blank Space" is a song by American singer-songwriter Taylor Swift from her 2014 fifth studio
                        album 1989.
                        It was written by Swift, Max Martin and Shellback. The song was released to the radio by
                        Republic Records
                        on November 10, 2014 as the album's second single, after "Shake It Off" and is the second track
                        on the
                        album. Musically, "Blank Space" is a minimalist electropop song with lyrics that satirize the
                        media's
                        perception of Swift and her relationships. The accompanying music video was directed by Joseph
                        Kahn, who
                        said that Swift approached him with the idea for the treatment, saying she was all too aware of
                        the jokes
                        made about all of her ex-boyfriends and how she likes to include them in her songwriting. She
                        told him
                        that she wanted to address the general thought of her in the clip in a fun way by playing a
                        crazy villain.
                        David Knight from Promonews wrote: "...It's no surprise that Joseph's video for Blank Space
                        broke the
                        internet a bit on Monday, as few music videos have done before without resorting to explicit
                        content. It
                        presents a glorious fantasy of Taylor in her princess's castle - actually Oheka Castle and
                        Woolworth
                        Mansion in New York State - falling for her prince. The setting is sumptuous, the guy is
                        drop-dead
                        gorgeous... and then comes the surprise. Taylor turns nasty. In fact, not just nasty. She's mad.
                        She's
                        evil. An irrational green-eyed jealous monster who destroys her fairytale piece by piece, and
                        his car, and
                        his clothes. This big pop video is driven by the sarcastic edge of Blank Space, addressing her
                        complicated
                        love life, and the gossip. And Joseph does a typically masterful job seamlessly combining the
                        glamour with
                        the sarcasm and creating a 'bad Taylor' that is so over the top, so knowing, you feel she's
                        still lovely
                        underneath. ...Could have been very tricky, turning Taylor Swift into a bad, mad girl. But this
                        is both an
                        artistic statement and irresistible entertainment." Promonews took Blank Space on their list of
                        Videos of
                        the Decade."
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 boxColor">
        <div class="card-body">
            <h5 style="color:white;"><strong>Saved Songs / For Later</strong></h5>
            <div class="row" class="songSearchBtns">
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <button type="button" class="btn btn-lg btn-block">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <button type="button" class="btn btn-lg btn-block">Listen Later</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="js/search.js"></script>