form.signup,
form.login {
  margin-top: 50px;
}
body, #formFont {
  font-family: "Open Sans", sans-serif;
}
.navbar-brand {
  font-family: "Bungee Shade", cursive;
}

body {
  background-color: #0c7;
}

.memberSaveBtn:hover {
  background-color: rgb(1, 94, 1);
  color: white;
}

.memberDeleteBtn:hover {
  background-color: maroon;
  color: white;
}

.memberDeleteBtn,
.memberSaveBtn {
  margin: 3px;
  padding: 5px;
  background-color: white;
  text-align: center;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}
.carousel-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

.card-body {
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card {
  margin: 20px 10px;
}
.card-body a {
  color: #0c7;
  text-decoration: none;
  font-size: 15px;
  margin-top:auto;
  font-weight: 600;
}
.card-body a:hover {
  color: #63a;
  text-decoration: none;
}

.boxColor {
  background-color: #343A40;
}

.accentColor {
  background-color: #00CC77;
}


