form.signup,
form.login {
  margin-top: 50px;
}
body,
#formFont {
  font-family: "Baloo Chettan 2", cursive;
}
.navbar-brand {
  font-family: "Bungee Shade", cursive;
}

body {
  background-color: #1ed760;
}

.memberSaveBtn:hover {
  background-color: rgb(1, 94, 1);
  color: white;
}

.memberDeleteBtn:hover {
  background-color: maroon;
  color: white;
}
.delete-recentBtn:hover {
  background-color: maroon;
  color: white;
}

.memberDeleteBtn,
.memberSaveBtn,
.delete-recentBtn {
  margin: 3px;
  padding: 5px;
  background-color: white;
  text-align: center;
  transition-duration: 0.4s;
  border-radius: 5px;
}
.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}
.carousel-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

.card-body {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card {
  margin: 20px 10px;
}
.card-body a {
  color: #1ed760;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}
.card-body a:hover {
  color: #63a;
  text-decoration: none;
}

.boxColor {
  background-color: #343a40;
}

.accentColor {
  background-color: #1ed760;
}

#strTrackThumb,
#strArtistThumb {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.songSearchBtns {
  padding: 100px;
}

.topSongItem {
  cursor: pointer;
}

#topSongs li.topSongItem:hover {
  color: #1ed760;
}

#top20 li.topSongItem:hover {
  color: #1ed760;
}

#strMusicVid {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#strMusicVidCard {
  height: 93.563%;
}
